<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="subscription-item">
  <template>
    <style>
      :host {
        display: block;
        apply --subscription-item
      }
      .subscription-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        apply --subscription-item-wrapper
      }
      .subscription-item-image {
        width: 50px;
        apply --subscription-item-image
      }
      .subscription-item-icon {
        width: 100%;
        apply --subscription-item-icon
      }
    </style>
    <div class="subscription-item" style$="background: {{color}};">
      <div class="subscription-item-image">
        <img class="subscription-item-icon" src=[[icon]] alt="">
      </div>
      <span class="subscription-item-title">
        [[title]]
      </span>
      <div class="subscription-item-info">
        <p class="subscription-item-price">[[price]]</p>
        <p class="subscription-item-billed">[[billed]]</p>
      </div>
    </div>
  </template>

  <script>
    /**
     * `subscription-item`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SubscriptionItem extends Polymer.Element {
      static get is() { return 'subscription-item'; }
      static get properties() {
        return {
          icon: {
            type: String,
            value: ''
          },
          title: {
            type: String,
            value: ''
          },
          price: {
            type: String,
            value: ''
          },
          billed: {
            type: String,
            value: ''
          },
          color: {
            type: String,
            value: ''
          }
      }
    }

    window.customElements.define(SubscriptionItem.is, SubscriptionItem);
  </script>
</dom-module>
